@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

}

main {
    /* display: flex; */


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.container {

    width: 1000px;
    margin: auto;

    border-radius: 10px;
    display: flex;
    margin-top: 30px;
}

.top-menu-item {
    color: #E2E2E2;
    margin-top: 6%;
    margin-left: 7%;
    margin-bottom: 40px;

}

.top-menu-item h1 {
    font-size: 3.3em;
}

.top-menu-img {
    margin-right: 9%;
    margin-top: 60px;


}

.top-menu-img img {
    height: 100%;
}

.top-menu-button {
    padding: 10px 30px;
    background-color: #dd0000;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    border: none;
    margin-top: 8px;

}


.all-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}



.link-button {
    display: flex;
    flex-direction: column;
    background-color: #161616;
}

.link-button a {
    text-decoration: none;
    padding: 5px 10px;

    justify-content: center;
}


.link-button {
    padding: 5px 10px;
}

.matches-info img {


    width: 100%;
    border-radius: 5px;
}

.live-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.matches-info button {
    padding: 5px 25px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

.container-main {
    background-color: #1E1E1E;
    width: 1000px;
    margin: auto;

    border-radius: 10px;
    display: flex;
    margin-top: 30px;
}

.link-button a {

    padding: 10px 75px;
    margin-bottom: 17px;

    margin-top: 15px;
    margin-left: 2%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 700;
    border: 1px solid black;


}

.flag-div {
    display: flex;
}


.link-button {
    border-radius: 5px;
}

.button-1st-color {
    background-color: #ffffff;
}

.button-color {
    background-color: #dd0000;

}

.fa-solid {
    margin-left: 20px;
}

.icon-justifier {
    margin-left: 5px;
    ;
}

.tablet-button {
    padding: 10px 25px;
    background-color: #dd0000;
    color: #E2E2E2;
    margin-left: 55%;
    margin-top: 5%;
    border-radius: 5px;
    visibility: hidden;
}

/* footter */
footer {
    background-color: #1E1E1E;
    color: #ffffff;
}

.footer-item {
    width: 1000px;
    margin: 0 auto;
    padding-top: 35px;
    margin-top: 80px;
    padding-bottom: 85px;
}

.footer-item h2 {
    margin-left: 49%;
    margin-bottom: 30px;

}

.footer-link a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 38px;

}

.footer-link {
    margin-left: 14%;
    margin-top: 50px;

}

#footer-icon {
    font-size: 22px;
    margin-top: 4%;
    font-weight: 700;
    margin-left: 40%;
}

/* responsive */
/* @media screen and (max-width:576px) {
    .container-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;



    }




    .container {
        display: none;

    }
} */
@media only screen and (min-width:577px) and (max-width:992px) {
    .container-main {
        width: 100%;

    }

    .link-button {

        flex-direction: row;
        background-color: #ffffff;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        ;



    }



    .link-button a {
        padding: 5% 10%;
    }


    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .all-div {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;


    }

    .tablet-button {
        visibility: visible;
    }

    .footer-item {
        width: 90%;
        margin-left: 5%;
        line-height: 30px;
    }

    .top-menu-item {
        overflow: hidden;
    }
}

/* mobile-responsive */
@media screen and (max-width:576px) {

    .all-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .top-menu-item {
        width: 100%;

    }

    .container-main {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;


    }

    .top-menu-item p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .top-menu-img img {
        width: 52%;
        margin-left: 2%;
    }

    .top-menu-item h1 {
        font-size: 1.5em;
    }

    .top-menu-item p {
        overflow: hidden;
        text-overflow: ellipsis;


    }

    #elip-content {
        overflow: hidden;

        text-overflow: ellipsis;
    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .container-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .footer-item {
        width: 90%;
        margin-left: 5%;

    }

    .footer-link {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer-link a {
        margin-bottom: 13px;
    }

}